In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk

In [ ]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [ ]:
sent = SentimentIntensityAnalyzer()

In [ ]:
df = pd.read_csv("/content/hate_dataset.csv")
df.head()

,Table 1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,I wouldn't want a retard husband,NaN,NaN,NaN,NaN
1,disableds ruin british culture,NaN,NaN,NaN,NaN
2,gay is a mental illness,NaN,NaN,NaN,NaN
3,discrimination against disabled people is not ...,NaN,NaN,NaN,NaN
4,what's the opposite of love? That's how I feel...,NaN,NaN,NaN,NaN

In [ ]:
df1 = df.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1)

In [ ]:
# df.describe()
df1.head()

,Table 1,comp-score,pos-score,neg-score
0,I wouldn't want a retard husband,0.3724,0.463,0.204
1,disableds ruin british culture,-0.5859,0.000,0.559
2,gay is a mental illness,-0.4019,0.000,0.474
3,discrimination against disabled people is not ...,0.8036,0.507,0.000
4,what's the opposite of love? That's how I feel...,0.6369,0.296,0.000

In [ ]:
df1.shape

(1401, 4)

In [ ]:
df1.iloc[0][0]

"I wouldn't want a retard husband"

In [ ]:
sent.polarity_scores(df1.iloc[0][0])

{'neg': 0.204, 'neu': 0.333, 'pos': 0.463, 'compound': 0.3724}

In [ ]:
scor_com = []
scor_pos = []
scor_neg = []

for i in range(0, df1.shape[0]):
  score = sent.polarity_scores(df1.iloc[i][0])
  score1 = score['compound']
  scor_com.append(score1)

  score2 = score['pos']
  scor_pos.append(score2)

  score3 = score['neg']
  scor_neg.append(score3)

In [ ]:
df1['comp-score'] = scor_com
df1['pos-score'] = scor_pos
df1['neg-score'] = scor_neg

In [ ]:
df1.shape

(1401, 4)

In [ ]:
df1.describe()

        comp-score    pos-score    neg-score
count  1401.000000  1401.000000  1401.000000
mean     -0.268960     0.097334     0.186851
std       0.552842     0.109684     0.149929
min      -0.991700     0.000000     0.000000
25%      -0.744300     0.000000     0.075000
50%      -0.401900     0.075000     0.168000
75%       0.102700     0.149000     0.271000
max       0.992600     0.741000     0.873000